.garage-style {
  color: #ff6f69;
  font-weight: bold;
  font-size: 1.5rem;
}

.garage-box {
  align-self: center;
  margin-bottom: 0;
}

.type-vehicle:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .garage-style {
    font-size: 1rem;
  }
}